[% INCLUDE header.inc %]
<ul>
[% FOREACH project_obj IN project_objs %]
<li><a href="/project/[% project_obj.id %]/">[% project_obj.title | html %]</a>[<a href="/cms/project/[% project_obj.id %]/edit/">edit</a>]</li>
[% END %]
</ul>
<div class="link"><a href="/cms/project/add/">新しくプロジェクトの記録を作る</a></div>

[% INCLUDE footer.inc %]
